.image-gallery {
  padding: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#image-gallery .image-gallery-item {
  position: relative;
  width: 33%;
  padding-top: 33%;
  height: 0;
}
#image-gallery .image-gallery-item img {
  position: absolute;
  inset: 2%;
  object-fit: cover;
  width: 96%;
  height: 96%;
}
#image-gallery .image-gallery-item input.button {
  position: absolute;
  inset: 6px 6px;
  top: unset;
  line-height: 1;
  padding: 0;
  min-height: 1.7em;
  opacity: 0.5;
}
#image-gallery .image-gallery-item:hover input.button {
  opacity: 1;
}

/*
wp-admin wp-core-ui js acf-admin-5-3 acf-browser-chrome post-php auto-fold admin-bar post-type-shelterapp_animals branch-6-4 version-6-4-3 admin-color-fresh locale-de-de-formal customize-support sticky-menu svg
*/

.wp-admin.post-php.auto-fold.post-type-shelterapp_animals
  .acf-postbox
  .inside
  .acf-field {
  width: 50%;
}

.wp-admin.post-php.auto-fold.post-type-shelterapp_animals .acf-postbox .inside {
  display: flex;
  flex-wrap: wrap;
}
.wp-admin.post-php.auto-fold.post-type-shelterapp_animals .acf-postbox .inside {
  display: flex;
  flex-wrap: wrap;
}
