/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-shelter-block-view {
	width: 100% !important;
	max-width: unset !important;
	padding: 2px;

	.iframe-preview {
		width: 100%;
		border: none;
		height: 100vh;
	}
}